.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 150px;
}
.card {
  position: relative;
  background-clip: padding-box;
  border: 3px solid transparent;
  background-color: #191a28;
  border-radius: 12px;
}

body {
  background-color: #191a28;
}

.card::before {
  content: "";
  position: absolute;
  border-radius: 12px;
  inset: 0;
  margin: -3px;
  z-index: -999;
  background-image: linear-gradient(to right, red, yellow);
}
