@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Lato:wght@300;400&family=Open+Sans:ital,wght@0,400;0,500;1,300;1,400&family=Oswald:wght@200;300;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

$primary: #3463A1;
$secondary: #FCC423;

html {
    font-size: 62, 5%;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

body {
    background: #7F8A95;
    font-family: "roboto", "Poppins", sans-serif;
}

.modal {
    max-width: 1200px;
    margin: 15rem auto;
    background: $secondary;
    border-radius: 1rem;
    overflow: hidden;

    &-header {
        text-align: center;
    }

    &-title {
        background: $primary;
        display: inline-block;
        width: 100%;
        color: $secondary;
        padding: 1rem 2rem;
    }

    &-selection {
        display: flex;
        justify-content: center;
        align-items: center;

        &-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6rem 6.5rem;
        }
    }
}